{% extends 'template.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm p-4 rounded">
        <h2 class="text-center mb-4">Registrar Generador</h2>
        <form class="row g-4" method="post" action="/generadores/guardar">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mod" class="form-label">Modelo de Generador</label>
                    <input type="text" class="form-control" name="mod" placeholder="Ej. Modelo X123" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cos" class="form-label">Costo</label>
                    <input type="number" class="form-control" name="cos" step="0.01" placeholder="Ej. 25000.00" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cph" class="form-label">Consumo por Hora</label>
                    <input type="number" class="form-control" name="cph" placeholder="Ej. 5.5" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pce" class="form-label">Energía Producida</label>
                    <input type="number" class="form-control" name="pce" placeholder="Ej. 100" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="uso" class="form-label">Uso del Generador</label>
                    <input type="text" class="form-control" name="uso" placeholder="Ej. Industrial" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ns" class="form-label">Número de Serie del Generador</label>
                    <input type="text" class="form-control" name="ns" placeholder="Ej. AB12345" required>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-outline-success btn-lg mt-3">Guardar Generador</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
