{% extends 'template2.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm p-4 rounded">
        <h2 class="text-center mb-4">Registrar Generador</h2>
        <form class="row g-4" method="post" action="/familias/guardar/{{generador.numeroSerie}}">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mod" class="form-label">Nombre de la famila</label>
                    <input type="text" class="form-control" name="nom" placeholder="Ej. Lopez Jaopon" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cos" class="form-label">Numero de miembros de la familia</label>
                    <input type="text" class="form-control" name="nm" step="0.01" placeholder="Ej. 2" required>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ generador.numeroSerie }}">
                <button type="submit" class="btn btn-outline-success btn-lg mt-3">Guardar Generador</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
